<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>资源目录</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/moment.min.js"></script>
    <!-- 一下代码是IE8的兼容性代码,需要时应该用到条件注释 -->
    <!--[if IE 8]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../assets/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/catalog.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../assets/pagination.css">
    <script src="../assets/pagination.min.js"></script>
    <script src="../assets/art-template.js"></script>
</head>
<body>
    @@include('commons/header.html')

    <div class="layout">
        <div class="resourceFloor1">
            <ul id="classfiy">
                <li class="active" i="1">基础信息资源类</li>
                <li i="2">主题信息资源类</li>
                <li i="3">部门信息资源类</li>
            </ul>
            <div id="itemsList">
            </div>
        </div>
        </div>
            <div class="content2">
                <div class="newInstitutionSource">
                    <!-- <h2 class="content_title">最热目录信息资源</h2> -->
                </div>
            </div>
            <div class="content1">
                <div class="newInstitutionSource">
                    <!-- <h2 class="content_title">最新目录信息资源</h2> -->
                </div>
            </div>

    @@include('commons/footer.html')
    <script src="../js/catalog.js"></script>
    <script type="text/html" id="card-list_new">
        <h2 class="content_title">最新目录信息资源</h2>
        <ul class="clear">
        {{each $data item index}}
        {{if index <= 3}}
            <li>
                {{if item.hot}}<div class="hot-flag"></div>{{/if}}
                {{if item.new}}<div class="new-flag"></div>{{/if}}
                <div class="item_img">
                    <img src="{{item.icon || '../img/new1.png'}}" alt="">
                </div>
                <div class="item_content">
                    <a href="catalog-detail.html?id={{item.resourceId}}">
                    <h2>{{item.resourceName || '暂无'}}</h2></a>
                    <ul>
                        <li>
                            所含格式:&nbsp;&nbsp;
                            <!-- {{each item.types sub}} {{/each}} -->
                            <span class="spe_block">{{item.dataType || '暂无'}}</span>
                        </li>
                        <li>
                            <ul>
                                <li class="ssfl">所属分类:&nbsp;&nbsp;<span>{{item.typeName || '暂无'}}</span></li>
                                <li>所属部门:&nbsp;&nbsp;<span></span>{{item.resourceProviderName}}</span></li>
                            </ul>
                        </li>
                        <li>
                            资源摘要:&nbsp;&nbsp;<span>{{item.subscribeCount || '暂无'}}</span>
                        </li>
                    </ul>
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </script>
    <script type="text/html" id="card-list_hot">
        <h2 class="content_title">最热目录信息资源</h2>
        <ul class="clear">
        {{each $data item index}}
        {{if index <= 3}}
            <li>
                {{if item.hot}}<div class="hot-flag"></div>{{/if}}
                {{if item.new}}<div class="new-flag"></div>{{/if}}
                <div class="item_img">
                    <img src="{{item.icon || '../img/new1.png'}}" alt="">
                </div>
                <div class="item_content">
                    <a href="catalog-detail.html?id={{item.resourceId}}">
                    <h2>{{item.resourceName || '暂无'}}</h2></a>
                    <ul>
                        <li>
                            所含格式:&nbsp;&nbsp;
                            <!-- {{each item.types sub}} {{/each}} -->
                            <span class="spe_block">{{item.dataType || '暂无'}}</span>
                        </li>
                        <li>
                            <ul>
                                <li class="ssfl">所属分类:&nbsp;&nbsp;<span>{{item.typeName || '暂无'}}</span></li>
                                <li>所属部门:&nbsp;&nbsp;<span></span>{{item.resourceProviderName}}</span></li>
                            </ul>
                        </li>
                        <li class="zy">
                            资源摘要:&nbsp;&nbsp;<span>{{item.subscribeCount || '暂无'}}</span>
                        </li>
                    </ul>
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </script>
    <script type="text/html" id="item-list">
        <ul class="itemList">
            {{each $data item}}
            <li>
                <a href="item.html?code={{item.code}}&&id={{item.id}}">
                    <img src="../img/catalog.png" alt="">
                    <span>{{item.name}}</span>
                    <i>{{item.name}}</i>
                </a>
            </li>
            {{/each}}
            </ul> 
    </script>
</body>
</html>