<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>资源目录</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/moment.min.js"></script>
    <!-- 一下代码是IE8的兼容性代码,需要时应该用到条件注释 -->
    <!--[if IE 8]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../assets/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/catalog.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <script src="../assets/pagination.min.js"></script>
    <link rel="stylesheet" href="../assets/pagination.css">
</head>
<body>
    @@include('commons/header.html')

    <div class="layout">
        <div class="catalog" id="catalog"></div>
        <div class="time" id="times">
        </div>
        <div class="type" id="types">
        </div>
        <div class="sort" id="sorts">
            <span class="label">排序方式</span>
            <ul class="clearfix" style="display: inline-block;vertical-align: top">
                <li class="fl row iconfont icon-paixu active" data-sort="default">默认</li>
                <li class="fl row iconfont icon-paixu" data-sort="updateTime">更新时间</li>
                <li class="fl row iconfont icon-paixu" data-sort="dataSize">数据量</li>
                <li class="fl row iconfont icon-paixu" data-sort="dataVisit">访问量</li>
            </ul>
        </div>
        <div class="content1">
                <div class="newInstitutionSource">
                </div>
            </div>
        <div id="pagination_container" class="pagination-container"></div>
    </div>

    @@include('commons/footer.html')
    <script src="../assets/art-template.js"></script>
    <script src="../js/catalog.js"></script>
    <script type="text/html" id="card-list">
        <ul class="clear">
        {{each $data item}}
            <li>
                {{if item.hot}}<div class="hot-flag"></div>{{/if}}
                {{if item.new}}<div class="new-flag"></div>{{/if}}
                <div class="item_img">
                    <img src="{{item.icon || '../img/new1.png'}}" alt="">
                </div>
                <div class="item_content">
                    <a href="catalog-detail.html?id={{item.resourceId}}">
                    <h2>{{item.resourceName}}</h2></a>
                    <ul>
                        <li>
                            {{if item.dataType}}
                            所含格式:&nbsp;&nbsp;
                            <!-- {{each item.types sub}} {{/each}} -->
                            <span class="spe_block">{{item.dataType}}</span>
                            {{/if}}
                        </li>
                        <li>
                            <ul>
                                <li>所属分类:&nbsp;&nbsp;<span>{{item.typeName}}</span></li>
                                <!-- <li>所属部门:&nbsp;&nbsp;<span></span>{{item.department}}</span></li> -->
                            </ul>
                        </li>
                        <li>
                            资源摘要:&nbsp;&nbsp;<span>{{'暂无'}}</span>
                        </li>
                    </ul>
                </div>
            </li>
            {{/each}}
        </ul>
    </script>
    <!-- <script type="text/html" id="card-list">
       列表页模板 
        <ul class="clearfix">
        {{each $data item index}}
            <li class="fl item clearfix {{if index%2 === 1}}ml20{{/if}}">
                {{if item.hot}}<div class="hot-flag"></div>{{/if}}
                {{if item.new}}<div class="new-flag"></div>{{/if}}
                <div class="left fl">
                    <img src="{{item.icon || '../img/new1.png'}}" alt="">
                </div>
                <div class="right fl">
                    <div class="title"><a href="catalog-detail.html?id={{item.resourceId}}">{{item.resourceName}}</a></div>
                    <div class="row">
                        <span class="label">所含格式</span>
                        {{each item.types sub}} 
                            <span class="tag">{{item.dataType}}</span>
                         {{/each}} 
                    </div>
                    <div class="row bold">
                        <div>
                            <span class="label">更新时间</span>
                            <span style="">{{item.createTime}}</span>
                        </div>
                        <div>
                            <span class="label">发布时间</span>
                            <span>{{item.updateTime}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="label">所属分类</span>
                            <span>{{item.typeName}}</span>
                        </div>
                     <div>
                            <span class="label">所属部门</span>
                            <span>{{item.department}}</span>
                        </div> 
                    </div>
                    <div class="row">
                        <p class="summary">{{item.switchContent || '暂无'}}</p>
                    </div>
                </div>
            </li>
        {{/each}}
        </ul>
    </script> -->
    <script type="text/html" id="catalog_list">
        <ul class="clearfix">
            {{each $data item index}}
            <li class="row fl {{index%8 === 0 ? ' ml0':''}}" data-id={{index}} data-href={{item.typeId}} style="cursor:pointer">
                <!-- <a href="catalog.html?id={{index}}"> -->
                    <div class="icon">
                        <img src="{{item.typePathOne || '../img/no-img60×60.jpg'}}" class="no_active">
                        <img src="{{item.typePathTwo || '../img/no-img60×60.jpg'}}" class="active">
                    </div>
                    <span class="span">{{item.typeName}}</span>
                <!-- </a> -->
            </li>
            {{/each}}
        </ul>
    </script>
    <script type="text/html" id="time_list">
        <span class="label">选择时间</span>
        <ul class="clearfix" style="display: inline-block;vertical-align: top;">
            {{each $data item index}}
            <li class="row fl {{index===0 ? 'active' : ''}}" data-time={{item}}>{{item}}</li>
            {{/each}}
        </ul>
    </script>
    <script type="text/html" id="type_list">
        <span class="label">格式分类</span>
        <ul class="clearfix" style="display: inline-block;vertical-align: top;">
            {{each $data item index}}
            <li class="row fl {{index===0 ? 'active' : ''}}" data-type={{item}}>{{item}}</li>
            {{/each}}
        </ul>
    </script>
    <!-- <script type="text/html" id="sort_list">
        <span class="label">选择时间</span>
        <ul class="clearfix" style="display: inline-block;vertical-align: top;">
            {{each $data item index}}
            <li class="row fl {{index===0 ? 'active' : ''}}" data-time={{item}}>{{item}}</li>
            {{/each}}
        </ul>
    </script> -->
</body>
</html>