<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>开放动态</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <script src="../assets/jquery.min.js"></script>
    <link rel="stylesheet" href="../assets/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../assets/swiper-3.4.2.min.css">
    <script src="../assets/moment.min.js"></script>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/swiper-3.4.2.jquery.min.js"></script>
</head>
<body>
    @@include('commons/header.html')
        <div class="contentN1">
            <div class="newInstitutionSource">
                <h2 class="content_title">最新动态</h2>
                <div class="clear">
                    <div class="news_img">
                    </div>
                    <div class="news_new">
                        <div class="content5">
                            <div class="layout_center clearfix">
                                <div class="half_block fl clearfix">
                                    <div class="important_news"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content5">
                <div class="layout_center clearfix">
                    <div class="half_block fl clearfix">
                        <h2 class="content_title"><span>重要新闻</span><a href="cards.html?articleCid=10" class="more fr">查看更多&gt;&gt;</a></h2>
                        <div id="floor1"></div>
                    </div>
                    <div class="half_block fr clearfix">
                        <h2 class="content_title"><span>通知公告</span><a href="cards.html?articleCid=7" class="more fr">查看更多&gt;&gt;</a></h2>
                        <div id="floor2"></div>
                    </div>
                </div>
        </div>
        <div class="content5 bg_white">
            <div class="layout_center clearfix">
                <div class="half_block fl clearfix">
                    <h2 class="content_title"><span>最新政策</span><a href="cards.html?articleCid=8" class="more fr">查看更多&gt;&gt;</a></h2>
                    <div id="floor3"></div>
                </div>
                <div class="half_block fr clearfix">
                    <h2 class="content_title"><span>政策解读</span><a href="cards.html?articleCid=9" class="more fr">查看更多&gt;&gt;</a></h2>
                    <div id="floor4"></div>
                </div>
            </div>
        </div>
        <div class="hotItem">
            <div class="newInstitutionSource">
                <h2 class="content_title">热门政题</h2>
            </div>
        </div>
    @@include('commons/footer.html')
    <script src="../assets/art-template.js"></script>
    <script src="../js/news.js"></script>
    <script type="text/html" id="carousel-list">
        <div class="swiper-container">
                <div class="swiper-wrapper">
                    {{if $data.length <= 0}}
                    <div class="swiper-slide">
                            <!-- <img src="{{item}}" alt=""> -->
                        <div style="width:100%;height:400px;background:url(../img/no-pic.jpg) no-repeat center;background-size:cover;"></div>
                    </div>
                    {{else if $data}}
                    {{each $data item}}
                    <div class="swiper-slide">
                        <!-- <img src="{{item}}" alt=""> -->
                        <a href="{{item.address}}">
                            <div style="width:100%;height:500px;background:url({{item.img}}) no-repeat center;background-size:cover;"></div>
                        </a>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev leftBtn"></div>
                <div class="swiper-button-next rightBtn"></div>
            </div>
    </script>
    <script type="text/html" id="hot_zt">
        {{if $data.length > 0}}
        <ul>
            {{each $data item}}
            <li>
                <a href="news-detail.html?id={{item.articleId}}">
                    <img src="{{item.imgPath || '../img/no-pic285a180.jpg'}}" alt="">
                    <span>{{item.articleContent || '暂无'}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </script>
    <script type="text/html" id="affiche_template">
        <div class="ontop clearfix">
            <div class="fl">
                <a href="news-detail.html?id={{$data[0] && $data[0].articleId}}"><h3>{{$data[0] && $data[0].articleTitle || '暂无'}}</h3>
                <p class="from">
                    <label>来源 : </label>
                    <span>{{$data[0] &&　$data[0].articleSource || '暂无'}}</span>
                    <label class="time">时间 : </label>
                    <span>{{$data[0] && $data[0].createOpenTime || '未知'}}</span>
                </p>
                <p class="affiche_content">
                    <!-- <a href="news-detail.html?id={{$data[0] && $data[0].articleId}}"> -->
                         {{ $data[0] && $data[0].articleContent || '暂无'}}
                    <!-- </a> --> 
                </p>
                </a>
            </div>
            </div>
            <ul class="affiche_list">
                {{each $data item index}}
                {{if index!== 0 && index <= 8}}
                <li class="affiche_row">
                    <a href="news-detail.html?id={{item.articleId}}">
                        <span class="affiche_origin">[{{item.articleSource}}]</span>
                        <span class="affiche_title">{{item.articleTitle}}</span>
                        <span class="affiche_time">{{item.createOpenTime}}</span>
                    </a>
                </li>
                {{/if}}
            {{/each}}
            </ul>
    </script>
    <script type="text/html" id="affiche_template1">
        <div class="ontop clearfix">
            <a href="news-detail.html?id={{$data[0] && $data[0].articleId}}">
                <img src="{{$data[0] && $data[0].imgPath || '../img/news_pattern.jpg'}}" alt="" width="200" height="130" class="fl">
            </a>
            <div class="fl">
                <a href="news-detail.html?id={{$data[0] && $data[0].articleId}}"><h3>{{$data[0] && $data[0].articleTitle}}</h3>
                <p class="from">
                    <label>来源 : </label>
                    <span>{{$data[0] &&　$data[0].articleSource || '暂无'}}</span>
                    <label class="time">时间 : </label>
                    <span>{{$data[0] && $data[0].createOpenTime || '未知'}}</span>
                </p>
                <p class="affiche_content">
                    {{ $data[0] && $data[0].articleContent || '暂无'}}
                </p>
                </a>
            </div>
        </div>
        <ul class="affiche_list">
            {{each $data item index}}
                {{if index!== 0 && index <= 5}}
                <li class="affiche_row clearfix">
                    <a href="news-detail.html?id={{item.articleId}}">
                        <span class="affiche_origin">[{{item.articleSource}}]</span>
                        <span class="affiche_title">{{item.articleTitle}}</span>
                        <span class="affiche_time">{{item.createOpenTime}}</span>
                    </a>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </script>
    <script type="text/html" id="affiche_template2">
        <ul class="affiche_list">
            {{each $data item index}}
                {{if index <= 7}}
                <li class="affiche_row clearfix">
                    <a href="news-detail.html?id={{item.articleId}}">
                        <span class="affiche_origin">[{{item.articleSource}}]</span>
                        <span class="affiche_title">{{item.articleTitle}}</span>
                        <span class="affiche_time">{{item.createOpenTime}}</span>
                    </a>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </script>
</body>
</html>