.list_container {
  width: 1200px;
  margin: 0 auto;
  min-height: 401px;
}
.list_title {
  margin-top: 40px;
  line-height: 24px;
  color: #005a9f;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}
.list_title::before {
  content: "";
  display: inline-block;
  border-left: 4px solid #005a9f;
  margin-right: 8px;
  height: 24px;
  vertical-align: top;
}
.list_container ul {
  margin-top: 16px;
}
.list_container .row {
  /* height: 120px; */
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
  position: relative;
  height: 130px;
}
.list_container .row .row_left {
  /* float: left; */
  position: absolute;
  width: 200px;
  height: 130px;
  left: 0;
  top: 20px;
  bottom: 20px;
}
.list_container .row .row_left img {
  max-width: 200px;
  max-height: 130px;
}
.list_container .row .row_right {
  /* float: left; */
  margin-left: 220px;
}
.list_container .row .title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.list_container .row .title a {
  color: #999;
  font-weight: bold;
  /* text-decoration-line: underline; */
}
.list_container .row .content {
  margin-top: 10px;
  font-size: 12px;
  color: #727272 !important;
  text-decoration: none;
  list-style: none;
  line-height: 24px;
}
.list_container .row .content span {
  margin-top: 10px;
  font-size: 12px;
  color: #727272 !important;
  text-decoration: none;
  list-style: none;
  line-height: 24px;
}
.list_container .row .description {
  margin-top: 20px;
  font-size: 12px;
  color: #919191;
}
.list_container .row .description label::after {
  content: ":";
  display: inline-block;
  margin-left: 4px;
  margin-right: 8px;
}
.list_container .row .description * + label,
.list_container .row .description * + a {
  margin-left: 50px;
}
.pagination_container {
  margin-top: 68px;
  margin-bottom: 50px;
  text-align: center;
}
.attachment {
  font-size: 12px;
  color: #0971c5;
}
