html,
body {
  font-family: "微软雅黑";
  font-size: 14px;
}
.layout{
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration-line: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.red{
  color: red;
}
