.header .title {
  font-size: 34px;
  color: #dd0019;
  padding: 32px 0 34px 100px;
}
.header .nav {
  background: #005ea5;
}
/* .header .nav ul {
  padding-left: 100px;
} */
.header .nav ul li {
  float: left;
  font-size: 18px;
  color: white;
}
.header .nav ul li a {
  display: inline-block;
  line-height: 60px;
  padding: 0 50px;
  color: white !important;
  text-decoration-line: none;
}
.header .nav ul li:hover {
  background: #0872c5;
}
.header .nav .search {
  margin-top: 15px;
  margin-right: 100px;
}
.header .nav .search input {
  font-size: 14px;
  line-height: 30px;
  border: 0 none;
  border-radius: 4px;
  padding: 0;
  padding-left: 10px;
  width: 300px;
}
.header .nav .search .button {
  height: 30px;
  border: 0 none;
  border-radius: 4px;
  background: #017bdb;
  padding: 0 26px;
  color: #fff;
  cursor: pointer;
}
