.header .nav ul li.news {
  background: #0872c5;
}
* {
  box-sizing: border-box;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
.layout-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel {
  margin-top: 10px;
}
.newInstitutionSource {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.content_title {
  margin-bottom: 10px;
  font-size: 18px;
  color: #015293;
  position: relative;
  /* margin-left: 10px; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.content2 {
  background: #f5f5f5;
}
.content_title::before {
  /* position: absolute;
  left: -10px;
  top: 0;
  bottom: 0; */
  height: 18px;
  display: inline-block;
  margin-right: 10px;
  content: "";
  border-left: 3px solid #015293;
  vertical-align: middle;
}
.contentN1 .content_title {
  margin-bottom: 30px;
}
.news_img {
  width: 600px;
  height: 400px;
  float: left;
}
.news_img .swiper-container {
  width: 100%;
  height: 100%;
}
.news_img .swiper-container img {
  max-width: 100%;
  height: 100%;
}
.news_new {
  float: right;
  width: 570px;
  height: 400px;
  vertical-align: center;
}
.catalog .row .span {
  color: #333;
}
.content5 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5f5;
}
.news_new .content5 {
  background: #fff;
  padding: 0;
}
.bg_white.content5 {
  background: #fff;
}
.content5 .layout_center {
  width: 1200px;
  margin: 0 auto;
}
.news_new .content5 .layout_center {
  width: 100%;
}
.content5 .layout_center .half_block {
  width: 560px;
}
.news_new .content5 .layout_center .half_block {
  width: 570px;
}
.content5 .half_block .more {
  font-size: 14px;
  line-height: 18px;
  color: #6eafee;
}
.ontop {
  margin: 20px 0;
}
.ontop > div {
  width: 350px;
  margin-left: 10px;
}
.news_new .ontop > div {
  width: 100%;
  margin-left: 10px;
}
.ontop > div > h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.ontop > div .from {
  margin: 20px 0;
  color: #ccc;
}
.ontop > div .affiche_content {
  line-height: 1.5;
  color: #999;
}
.affiche_list {
  color: #999;
}
.affiche_list .affiche_row {
  margin-bottom: 10px;
}
.affiche_list .affiche_origin {
  margin-right: 20px;
}
.affiche_list .affiche_title {
  color: #333;
  display: inline-block;
  width: 350px;
  margin-right: 20px;
}
.affiche_list .affiche_time {
  text-align: right;
}
.news_new .affiche_list .affiche_time {
  float: right;
}
.affiche_list .affiche_row a {
  color: #999;
}
.ontop > div > a > h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.hotItem ul {
  display: flex;
  justify-content: space-between;
}
.hotItem li {
  position: relative;
}
.hotItem li span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 28px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0 10px;
}
.hotItem li img {
  width: 285px;
  height: 180px;
}
